@model LabTask2.Models.Product
@{
    ViewBag.Title = "TemplateType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TemplateType</h2>

<div>
    @Html.DisplayNameFor(model => model.id):
    @Html.DisplayFor(model => model.id)
</div>

<div>
    @Html.DisplayNameFor(model => model.name):
    @Html.DisplayFor(model => model.name)
</div>

<div>
    @Html.DisplayNameFor(model => model.price):
    @Html.DisplayFor(model => model.price)
</div>

<div>
    @Html.DisplayNameFor(model => model.quantity):
    @Html.DisplayFor(model => model.quantity)
</div>

<div>
    @Html.DisplayNameFor(model => model.category):
    @Html.DisplayFor(model => model.category)
</div>

<div>
    @Html.DisplayNameFor(model => model.production_date):
    @Html.DisplayFor(model => model.production_date)
</div>

<div>
    @Html.DisplayNameFor(model => model.is_disposeable):
    @Html.DisplayFor(model => model.is_disposeable)
</div>

<div>
    @Html.DisplayNameFor(model => model.support_mail):
    @Html.DisplayFor(model => model.support_mail)
</div>

